@import url('fonts.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0;
}

.container {
  margin: 0 auto;
  max-width: 1660px;
  width: 100%;
  padding: 0 30px;
}

p {
  margin: 0;
}

.page-top-content {
  margin-bottom: 20px;
  position: relative;
  background-image: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
}

.page-top-content::before,
.page-top-content::after {
  content: '';
  position: absolute;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
}

.page-top-content::before {
  top: 100%;
  right: 20px;
  left: 20px;
  background-color: #cacadb;
}

.page-top-content::after {
  top: calc(100% + 10px);
  right: 40px;
  left: 40px;
  background-color: #e7e7f2;
}

/* Desktop HD */

/* HEADER */
.header {
  min-height: 100vh;
  display: flex;
  padding-bottom: 30px;
  background-image: url('../images/logo-symbol.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.l-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-top-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.header__container {
  display: none;
}

label {
  display: none;
}
input {
  display: none;
}

.header-contacts{
  display: flex;
  align-items: center;
}

.header-lang-list{
  display: flex;
}
.header-lang__item{
  list-style: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding: 5px 7px;
  border-radius: 8px;
}

.header-lang__item--active{
  background: #F0145A;
}

.header__address{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__phone{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.header-actions{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header-nav {
  display: flex;
  justify-content: end;
}

.nav__about{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav__services, .nav__team, .nav__publications, .nav__contact {
  margin-left: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.header-slogan{
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
}

.scroll-bottom-btn {
  margin: 0 auto;  
}

.expirience__container{
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  margin-top: 60px;
  align-items: center;
}

.expirience__list{
  flex-direction: column;
  padding-bottom: 0;
  padding-right: 60px;
  text-align: right;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  margin-right: 60px;
}

.expirience__item {
  font-weight: bold;
  font-size: clamp(30px, calc(38 / 1600 * 100vw), 38px);
  line-height: 37px;
  color: #b3b3ba;
  white-space: nowrap;
  list-style: none;
  margin: 30px 0;
}

.expirience__item--active {
  color: transparent;
  background-image: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
}

.expirience__title{
  color: #FFFFFF;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 30px;
}
.expirience__text{
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 30px;
}


.services-cards {
  margin: 68px 0 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-card {
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 31%;
  margin-bottom: 60px;
}

.services-card .card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.services-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  margin-top: 60px;
  margin-bottom: 10px;
}

.slogan{
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
}

.card-logo{
  background-color: #fff;
  border-radius: 24px;
  width: 92px;
  height: 92px;
  display: flex;
  justify-content: center;
  padding: 14px;
}

.card-title{
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
}

.card-text{
  font-size: 16px;
  line-height: 26px;
  color: white;
  font-weight: 400;
}



/* Team */

.team{
  display: flex;
  background-color: #EDEDF7;
  border-radius: 12px;
  margin-top: 80px;
  margin-bottom: 30px;
  flex-shrink: 0;
  flex-basis: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.team__photo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.team__img{
  flex-basis: 500px;
  position: relative;
}

.team__title{
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.team__text{
  margin-top: 10px;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.team__name{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
  margin-top: 30px;
}
.team__position{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
  margin-top: 6px;
}
.team__discription{
  width: auto;
  flex-basis: 77%;
  padding: 30px;
}

.team-card__trigger {
  display: none;
}

#team-1:checked ~ .cards-wrapper .team-cards {
  transform: translateX(0%);
}

#team-2:checked ~ .cards-wrapper .team-cards {
  transform: translateX(-100%);
}

#team-3:checked ~ .cards-wrapper .team-cards {
  transform: translateX(-200%);
}

.card-switchers {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px 0 0;
  padding-left: 0;
  list-style: none;
}

.card__switcher {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(36, 163, 255, 0.2);
  cursor: pointer;
  margin-bottom: 60px;
}

#team-1:checked ~ .card-switchers li:nth-child(1) .card__switcher,
#team-2:checked ~ .card-switchers li:nth-child(2) .card__switcher,
#team-3:checked ~ .card-switchers li:nth-child(3) .card__switcher,
.card__switcher:hover {
  background-color: rgba(36, 163, 255, 1);
}

.team-cards {
  display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
    transition: transform 0.5s ease-out;
}
.cards-wrapper {
    overflow-x: hidden;
  }

  /* PARTNERS */

.partners__section .container{
  padding: 0;
}

.partners-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
  overflow: hidden;
}
.partners-logo {
  width: 25%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-logo img {
  max-width: 100%;
}

.hillel-logo {
background-color: #1C4280;
text-align: cener;
}
.wannabiz-logo {
background-color: #143646;
}
.tapgerine-logo {
background-color: #F48B30;
}
.dlook-logo {
background-color: #9E4DC3;
}
.orangear-logo {
background-color: #F48B30;
}
.adtelligent-logo {
background-color: #E2E2E4;
}
.clikky-logo {
background-color: #C71C36;
}
.ecolease-logo {
background-color: #DCF3F9;
}
.infratek-logo {
background-color: #EAEAEA;
}
.city-logo {
background-color: #282240;
}
.art-logo {
background-color: #1D4568;
}
.ultimate-logo {
background-color: #000000;
}
  /* ... */

/* Opinion */

.opinion {
  background-color: #F5F5FA;
  margin-top: 60px;
  padding: 30px 0 0;
}
.opinion__title{
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  margin-bottom: 10px;
}

.opinion__subtitle {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.opinion-cards{
  display: flex;
  justify-content: space-between;
}

.opinion__card {
  background-color: white;
  border-radius: 8px;
  max-width: 32%;
  margin-bottom: 30px;
}

.opinion__img{
  max-width: 100%;
}

.card {
  padding: 30px 30px 0 30px ;
}

.card-subtitle{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  margin-bottom: 15px;
}

.card-date{
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin-bottom: 15px;
}

.text-block{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 30px;
  padding-top: 15px;
  border-top: 3px solid #E6E6F0;
}

/* FOOTER */

.footer__section {
  background-color: #F5F5FA;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0;
  border-top: 2px solid #E6E6F0;
}

.footer__contacts {
  margin-top: 21px;
  display: flex;
  align-items: center;
}

.footer__adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  display: flex;
  align-items: center;
}

.footer__adress--block {
  display: flex;
  align-items: center;
}

.map{
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  text-decoration: none;
}

.footer__phone{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466E;
}

.footer__email {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}

.footer__right-box {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

.decorator {
  width: 6px;
  height: 6px;
  background: #B3B3BA;
  display: inline-block;
  border-radius: 50%;
  margin: 0 10px;
}




/* Desktop SD */

@media screen and (max-width: 1919px) {

  .expirience__container {
    max-width: 1080px;
  }

  .partners {
    border-radius: 0;
  }
  .opinion {
    margin-top: 0;
}
}


/* Tablet HD */
@media screen and (max-width: 1439px) {
  .expirience__container {
    max-width: 904px;
  }

  .header {
    min-height: 768px;
  }

}



/* Tablet SD */
@media screen and (max-width: 1023px) {

  .header {
    min-height: 893px;
  }

  .header-contacts {
    display: none;
  }

  .header__container {
    display: block;
  }

  .header-contacts--mobile {
    display: flex;
    align-items: center;
  }

  .header-top-bar {
    flex-direction: column;
  }

  .header-lang-list {
    padding: 0;
  }

  .header__address{
    color: #B3B3BA;
  }

  .header-nav {
    justify-content: start;
  }

  .logo{
    margin: 30px 0;
  }

  .expirience__container{
    padding: 0 30px;
    flex-direction: column;
  }
  .expirience__list{
    border-right: none;
    flex-direction: row;
    width: 100%;
    text-align: start;
    display: flex;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
  }

  .expirience__list::-webkit-scrollbar {
    width: 0;
  }

  .expirience__item{
    margin-right: 30px;
  }

  .expirience__descr{
    border-top: 4px solid rgba(255, 255, 255, 0.3);
  }

  .services-card {
    max-width: 47%;
  }

  .team {
    flex-direction: column;
  }
  .team__img{
    flex-basis: 500px;
  }
  
  .partners-logo {
    width: 33.33%;
  }

  .opinion-cards{
    flex-wrap: wrap;
  }

  .opinion__card{
    max-width: 47%;
    overflow: hidden;
  }

  .opinion__card--fw{
    max-width: 100%;
  }

  .opinion__img {
    max-width: 100%;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}



/* Mobile */

@media screen and (max-width: 767px) {

  .header {
    min-height: 600px;
  }

  .container{
    padding: 0 30px;
  }

  .header__container {
    display: block;
  }

  .header__address, .header__social {
    display: none;
  }

  .header-top-bar{
    padding-top: 0;
  }

  .header-contacts--mobile{
    justify-content: space-between;
    padding: 10px 15px;
    margin: 0 -30px;
    background-color: rgba(245, 245, 250, 0.2);
  }
  
  label {
    display: block;
  }

  .header-nav__btn {
    position: absolute;
    left: 90%;
    top: 50px;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    gap: 11px;
    position: fixed;
    right: 0;
    top: 100%;
    left: 0;
    transform: translateY(0%);
    padding: 64px 20px 20px;
    background: #fff;
    border-radius: 12px 12px 0px 0px;
    transition: transform 0.5s;
  }

  #header-nav__trigger {
    display: none;
  }
  
  #header-nav__trigger:checked + .header-nav {
    transform: translateY(-100%);
  }
  
  .nav__about, .nav__services, .nav__team, .nav__publications, .nav__contact {
    padding: 9px 18px;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    text-align: center;
    color: #24a3ff;
    background: #f5f5fa;
    border-radius: 12px;
    text-decoration: none;
  }
  
  .header-nav__link:hover,
  .header-nav__link--active {
    color: #f0145a;
  }

  .header-nav__close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }

  .expirience__container{
    padding: 0 30px;
  }
  
  .services-card{
    max-width: 100%;
    margin-bottom: 30px;
  }

  .card-title{
    margin: 30px 0 15px;
  }

  .services-card .card-header {
    gap: 0;
  }
  
  .team__text, .slogan, .opinion__subtitle {
    font-size: 30px;
    line-height: 37px;
  }

  .partners-logo {
    width: 100%;
  }

  .clikky-logo, .ecolease-logo, .infratek-logo, .city-logo, .art-logo, .ultimate-logo {
    display: none;
  }

  .opinion__card{
    max-width: 100%;
  }

  .opinion{
    padding: 30px 0;
  }

  .decorator {
    display: none;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer__left-box{
    display: flex;
    flex-direction: column;
  }

  .footer__adress--block{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__adress{
    padding-bottom: 10px;
  }

  .footer__contacts{
    flex-direction: column;
    margin-top: 0;
  }

  .map{
    padding-bottom: 21px;
  }
  .footer__social{
    margin-bottom: 10px;
  }
  .footer__phone{
    margin-bottom: 10px;
  }
  .footer__right-box{
    margin-top: 30px;
  }
}

